<div class="slides">
	<div id="download" class="slide">
		<div class="body">
			<h2>Change Password</h2>
			<form id="change-password-form" class="content">
	    		<p class="field 
					{{#invalid.password}}invalid{{/invalid.password}}">
					<span class="error"><span>{{invalid.password}}</span></span>
	    			<label for="password">Password</label>
	    			<input id="password" name="password" type="password" value="{{password}}" />
	    		</p>
	    		<p class="field 
					{{#invalid.repeatPassword}}invalid{{/invalid.repeatPassword}}">
					<span class="error"><span>{{invalid.repeatPassword}}</span></span>
	    			<label for="repeatPassword">Repeat Password</label>
	    			<input id="repeatPassword" name="repeatPassword" type="password" value="{{repeatPassword}}" />
	    		</p>
	    		<div class="actions">
	    			<input type="submit" value="Change" />
	    		</div>
			</form>
		</div>
	</div>
</div>