<div class="slides">
	<div id="download" class="slide">
		<div class="body">

			<h2>Download Prototype</h2>

			<div class="content">
				<ul id="downloads">
					<li><a href="http://download.contestedspace.net/contested-space-windows.zip">Windows</a></li>
					<li><a href="http://download.contestedspace.net/contested-space-mac.zip">Mac</a></li>
					<li><a href="http://download.contestedspace.net/contested-space-linux.zip">Linux</a></li>
				</ul>
			</div>
			<h3>Beware</h3>
			<div class="content">
				<ul>
					<li>Bugs</li>
					<li>Missing audio</li>
					<li>Missing features</li>
					<li>Poor balance</li>
				</ul>
				<p>The server may go down occasionally for a patch. Patches usually only take five minutes to apply.</p>
				<p>Send <a href="mailto:zon@contestedspace.net">Zon</a> your comments and bug reports.</p>
			</div>

			{{#fullAccess}}
			<h3>Ship Controls</h3>

			<table class="controls">
				<tr>
					<td class="key">WASD</td>
					<td>Move forward, left, backward, and right</td>
				</tr>
				<tr>
					<td class="key">Space, Alt</td>
					<td>Move up and down</td>
				</tr>
				<tr>
					<td class="key">Q, E</td>
					<td>Rotate camera</td>
				</tr>
				<tr>
					<td class="key">Shift</td>
					<td>Hold to strafe</td>
				</tr>
				<tr>
					<td class="key">R</td>
					<td>Target nearest enemy, or target enemy under cursor</td>
				</tr>
				<tr>
					<td class="key">Left click</td>
					<td>Fire turrets</td>
				</tr>
				<tr>
					<td class="key">Right click</td>
					<td>Fire missile at target</td>
				</tr>
				<!-- <tr>
					<td class="key">M</td>
					<td>View map</td>
				</tr>
				<tr>
					<td class="key">J</td>
					<td>Warp to location under cursor</td>
				</tr>
				<tr>
					<td class="key">Numpad 123</td>
					<td>Spawn enemy frigate, cruiser, or battleship</td>
				</tr>
				<tr>
					<td class="key">Numpad 456</td>
					<td>Spawn ally frigate, cruiser, or battleship</td>
				</tr> -->
			</table>
			{{/fullAccess}}

			<h3>Designer Controls</h3>

			<table class="controls">
				<tr>
					<td class="key">Left click</td>
					<td>Add block, drag to rotate</td>
				</tr>
				<tr>
					<td class="key">Right click</td>
					<td>Remove block</td>
				</tr>
				<tr>
					<td class="key">Ctrl + Left click</td>
					<td>Add layer of blocks (dangerous)</td>
				</tr>
				<tr>
					<td class="key">Alt + Left click</td>
					<td>Drag to rotate camera</td>
				</tr>
				<tr>
					<td class="key">Middle click</td>
					<td>Drag to pan camera</td>
				</tr>
				<tr>
					<td class="key">Mouse wheel</td>
					<td>Zoom camera</td>
				</tr>
			</table>

		</div>
	</div>
</div>