<div class="slides">
	<div id="download" class="slide">
		<div class="body">
			<h2>Register</h2>
			<form id="register-form" class="content">
	    		<p class="field 
					{{#invalid.name}}invalid{{/invalid.name}}">
					<span class="error"><span>{{invalid.name}}</span></span>
	    			<label for="name">Display Name</label>
	    			<input id="name" name="name" type="text" value="{{name}}" />
	    		</p>
	    		<p class="field 
					{{#invalid.email}}invalid{{/invalid.email}}">
					<span class="error"><span>{{invalid.email}}</span></span>
	    			<label for="email">Email</label>
	    			<input id="email" name="email" type="text" value="{{email}}" />
	    		</p>
	    		<p class="field 
					{{#invalid.password}}invalid{{/invalid.password}}">
					<span class="error"><span>{{invalid.password}}</span></span>
	    			<label for="password">Password</label>
	    			<input id="password" name="password" type="password" value="{{password}}" />
	    		</p>
	    		<p class="field 
					{{#invalid.repeatPassword}}invalid{{/invalid.repeatPassword}}">
					<span class="error"><span>{{invalid.repeatPassword}}</span></span>
	    			<label for="repeatPassword">Repeat Password</label>
	    			<input id="repeatPassword" name="repeatPassword" type="password" value="{{repeatPassword}}" />
	    		</p>
	    		<div class="actions">
		    		<ul class="nav">
		    			<li>
		    				<a href="#sign-in">Sign In</a>
		    			</li>
		    		</ul>
	    			<input type="submit" value="Register" />
	    		</div>
			</form>
		</div>
	</div>
</div>