<div class="screenshot">
	<a href="/images/screenshots/battleship-lasers.jpeg">
		<img src="/images/screenshots/battleship-lasers.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/screenshots/blue-station-yellow-background.jpeg">
		<img src="/images/screenshots/blue-station-yellow-background.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/slides/combat.jpeg">
		<img src="/images/slides/combat.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/screenshots/blue-cruiser-design.jpeg">
		<img src="/images/screenshots/blue-cruiser-design.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/slides/about.jpeg">
		<img src="/images/slides/about.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/slides/role-making.jpeg">
		<img src="/images/slides/role-making.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/slides/subscription.jpeg">
		<img src="/images/slides/subscription.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/screenshots/blue-frigate-2.jpeg">
		<img src="/images/screenshots/blue-frigate-2.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/screenshots/death-blow.jpeg">
		<img src="/images/screenshots/death-blow.jpeg" />
	</a>
</div>

<div class="screenshot">
	<a href="/images/screenshots/battle.jpeg">
		<img src="/images/screenshots/battle.jpeg" />
	</a>
</div>