<!DOCTYPE html>
<html>
   <head>
      <%- partial("../_head") %>
      <%- partial("../_mootHead") %>
   </head>
   <body>
		<div class="site">
          <%- partial("../_header") %>
          <div class="forum">
            
      			<!-- (2) Placeholder for the forum. The forum will be rendered inside this element -->
      			<a class="moot" href="https://moot.it/i/contested-space">Contested Space Forums</a>

          </div>
          <%- partial("../_footer") %>
        </div>

		<!--
		 Moot paths are awesome: https://moot.it/docs/embedding.html#paths

		 (2) Example tag for commenting, put it on a different page
		 <a class="moot" href="https://moot.it/i/contestedspace/comments:my-comment-page">
		    Comments for my blog entry
		 </a>

		 (2) Example tag for threaded commenting
		 <a class="moot" href="https://moot.it/i/contestedspace/comments/my-large-comment-page">
		    Comments for my blog entry
		 </a>
		-->

   </body>
</html>