<div class="footer">
  <ul class="contacts">
    <li class="twitter">
      <a href="http://twitter.com/haralovich">
        <span>Twitter</span>
      </a>
    </li>
    <li class="Facebook">
      <a href="
    https://www.facebook.com/contestedspace">
        <span>Facebook</span>
      </a>
    </li>
    <li class="email">
      <a href="mailto:zon@contestedspace.net">
        <span>Email</span>
      </a>
    </li>
  </ul>
</div>