<div class="header">
	<ul class="nav">
	  <li><a href="/">About</a></li>
	  <li><a href="/video">Video</a></li>
	  <li><a href="/images">Images</a></li>
	  <li><a href="/log">Log</a></li>
	  <li><a href="/download">Download</a></li>
	  <!-- <li><a href="/forum">Forum</a></li> -->
	</ul>
</div>