<div class="slides">
	
	<div id="title" class="slide">
		<div class="body">
			<h1><%= title %></h1>
			<h3>Comfort and Stability for Little Potty Learners!</h3>
			<!-- <h2 class="kickstarter">
				<a href="https://www.kickstarter.com/projects/contested/contested-space-build-an-empire-in-an-online-sandb">Kickstarting Now</a>
			</h2> -->
		</div>
	</div>

	<div id="about" class="slide">
		<div class="body">
			<h2>About</h2>
			<div class="content">
				<p>
					A revolutionary new potty accessory, the Bloom-a-Boo provides comfort and stability for little learners on the grown-up potty. Its solid wood and metal design is ideal for children who need extra support for any reason, as soon as they are able to sit up, and works for children up to 40 inches tall and 40 pounds.
				</p>
			</div>
		</div>
	</div>
</div>
