<div class="slides">
	
	<div id="title" class="slide">
		<div class="body">
			<h1><%= title %></h1>
			<h3>Build an interstellar culture in an online sandbox</h3>
			<!-- <h2 class="kickstarter">
				<a href="https://www.kickstarter.com/projects/contested/contested-space-build-an-empire-in-an-online-sandb">Kickstarting Now</a>
			</h2> -->
		</div>
	</div>

	<div id="about" class="slide">
		<div class="body">
			<h2>About</h2>
			<div class="content">
				<p>
					Contested Space mixes action oriented ship combat with creativity and community. Players design their own ships and stations, while defending and expanding territory for their alliance. All of this happens in one persistent universe where every action has a lasting consequence.
				</p>
			</div>
		</div>
	</div>

	<div id="role-making" class="slide">
		<div class="body">
			<h2>A Role Making Game</h2>
			<div class="content">
				<p>
					Too many online games impose a static narrative on their players. Contested Space lets players control their own identities and define how they interact with the universe. Players naturally fall into role playing when they are given different goals and perspectives. The game's primary goal is to help players create their own stories.
				</p>
			</div>
		</div>
	</div>

	<div id="combat" class="slide">
		<div class="body">
			<h2>Combat</h2>
			<div class="content">
				<p>
					Contested Space gives players direct control of their ship. Every shot and missile is physically simulated and must be carefully aimed. Ships range from lumbering battleships a kilometer long to nimble frigates only 60 meters long.
				</p>
			</div>
		</div>
	</div>

	<div id="launch" class="slide">
		<div class="body">
			<h2>Launch Features</h2>
			<div class="content">
				<p>
					Contested Space will start small, prefect the features it has, and grow from there. At first the game will be about territory control. Players will pick from one of three predefined alliances. These alliances will compete to control locations in orbit where stations can be built. Players that defend or capture territory will be rewarded with credits that can be used to build space stations or buy better ships.
				</p>
				<p>
					The game will also launch with three different ship sizes along with a suite of weapons and abilities to go along with them. Players will have a skill progression that will grant them modest bonuses as they gain experience.
				</p>
			</div>
		</div>
	</div>

	<div id="long-term" class="slide">
		<div class="body">
			<h2>Long Term Development</h2>
			<div class="content">
				<p>
					Development will continue after the game launches. Features will be added that give players more control over their ships, the game's economy, and even the game's social structures. All of it will be designed to create a better framework for telling stories.
				</p>
			</div>
		</div>
	</div>

	<div id="subscription" class="slide">
		<div class="body">
			<h2>A Simple Subscription</h2>
			<div class="content">
				<p>
					Contested Space will be a subscription based game. The subscription will be $5 a month when the game first launches. This fee may increase over time as the game gets major expansions.
				</p>
				<p>
					All updates to the game will be free to subscribers. There won't be any micro transactions or pay to win. Every subscriber will be treated equally.
				</p>
			</div>
		</div>
	</div>

	<div id="contact" class="slide">
		<div class="body">
			<h2>Contact</h2>
			<div class="content">
				<p>
					My name is Zon. I'm the creator of Contested Space. I live here in <a href="http://en.wikipedia.org/wiki/Bloomington,_Indiana">Bloomington</a> Indiana with my wife and two young children. I've been teaching myself game development while working part time as a web and mobile app developer. Contested Space represents my first attempt to become a full time game developer.
				</p>
				<p>
					Feel free to <a href="http://twitter.com/haralovich">tweet</a> or <a href="mailto:zon@contestedspace.net">email</a> any questions or comments you might have about this project.
				</o>
			</div>
		</div>
	</div>

</div>