<div id="log">
<%
for (var slug in public.log._data) {
  if (slug != 'index') {
    var post = public.log._data[slug];
%>
    <div class="post">
      <h1 class="post-header"><a href="/log/<%= slug %>.html"><%= post.title %></a></h1>
      <p class="post-info"><a class="author" href="zon@contestedspace.com">Zon</a>: <%= post.date %></p>
      <div class="post-content">
        <%- partial(slug) %>
      </div>
    </div>
<%
  }
}
%>
</div>