<div class="video-section">
	<h1>Kickstarter Video</h1>
	<iframe class="video" width="560" height="315" src="//www.youtube.com/embed/CY3VLMLVPXQ?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video-section">
	<h1>Combat Preview</h1>
	<iframe class="video" width="560" height="315" src="//www.youtube.com/embed/60rFJQSahv0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video-section">
	<h1>Design Preview</h1>
	<iframe class="video" width="560" height="315" src="//www.youtube.com/embed/NA1wUjsFGZc?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video-section">
	<h1>Laser Preview</h1>
	<iframe class="video" width="560" height="315" src="//www.youtube.com/embed/uUDkywOBnw8?rel=0" frameborder="0" allowfullscreen></iframe>
</div>